@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #190019;
    display: flex;
    align-items: center;
    justify-content: center;
}


.label {
    display: block;
    color: #c4d2e3;
    font-family: 'Varela', sans-serif;
    font-size: 2em;
    text-align: center;
}

input {
    border: none;
    height: 40px;
    width: 450px;
    border-radius: 15px;
    font-size: 1.5rem;
    font-family: sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::focus {
    outline: none;
}